<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ToDoList</title>
    <script src="/js/jquery-3.4.0.min.js"></script>
    <script src="/js/main.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
    <div id="point-form">
        <form>
            <h2>Добавление дела</h2>
            <label>Наименование дела: </label>
            <input type="text" name="name" value="">
            <label>Дэдлайн: </label>
            <input type="text" name="date" value="">
            <hr>
            <button id="save-point">Сохранить</button>
        </form>
    </div>

    <button id="show-add-point-form">Добавить дело</button>
    <h1>Список (<span th:text="${pointCount}">0</span>)</h1>
    <br><br>
    <div id="point-list">
        <div th:each="point : ${toDoList}">
            <a href="#" class="point-link" th:attr="data-id=${point.id}" th:text="${point.name}"></a>
        </div>
    </div>
    <p th:text="${someParameter}"></p>
</body>
</html>